server:
  port: 8080

spring:
  datasource:
    url: ${BOARD_DB_URL}
    username: ${BOARD_DB_USERNAME}
    password: ${BOARD_DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

client:
  user-service:
    url: ${USER_SERVICE_URI}
  point-service:
    url: ${POINT_SERVICE_URI}