server:
  port: 8000

spring:
  config:
    import: optional:file:.env[.properties]
  cloud:
    gateway:
      server:
        webflux:
          httpclient:
            connect-timeout: 1000
            response-timeout: 10s